body {
    background-color:#ecdcdc;
}

.header{
    height:200px;
    width:100%;
}
.companyname
{
    text-decoration:underline;
   margin-top:-8%;
    font-size:60px;
    margin-left:30%;
}
.companylogo{
    border:1px groove blue;
    border-bottom-right-radius:50px;
    border-top-left-radius:50px;
    width:200px;
    height:180px;
    
}
.companylogo1
{
    margin-top:-8.6%;
    border:1px groove blue;
    border-bottom-left-radius:50px;
    border-top-right-radius:50px;
    width:200px;
    height:180px;
    float:right;
}
 .slideshow-container{
     width:100%;
     height:450px;
     border:1px groove lightblue;
     overflow:hidden;
    
 }
 .mySlides{
    display:none;

 }


.prev,.next
{
    position:absolute;
    color:black;
    font-size:80px;
    background:lightgrey;
    top:50%;
}
.next {
    right: 0;
}


.next:hover,.prev:hover
{
    color:white;
    background:red;
    box-shadow:0 0 3px 4px rgba(3,3,3,1);
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.image
{
    margin-top:50px;
    width:100%;
    position:relative;
}
#myBtn{
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#myBtn:hover {opacity: 0.6;}
#myImg2{
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

#myImg2:hover {opacity: 0.6;}
#myImg3{
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
#myImg3:hover {opacity: 0.6;}
#myImg4{
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    overflow:hidden;
    z-index:-99999;
    border: 1px solid #888;
    width: 80%;
    height:300px;
   border-radius:50px;
    -webkit-animation-name: byebye;
    -webkit-animation-duration: 1.5s;
    animation-name: byebye;
    animation-duration: 1.5s
}

#modal1234{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding-top:100px;
    z-index:1;
    background-color: rgba(0,0,0,0.4);

}
.insidemodal
{
    width:80%;
    margin:auto;
    height:300px;
    -webkit-animation-name:byebye;
    -webkit-animation-duration:2s;
    animation-name:byebye;
    animation-duration:2s;
    background-color:lightpink;
}
@-webkit-keyframes byebye
{
    from{
        background-color:#fefefe;
        opacity:0;
        top:-600px;
    }
    to
    {
        background-color:lightpink;
        opacity:1;
        top:0px;
    }
}
@keyframes byebye
{
    from{
        background-color:#fefefe;
        opacity:0;
        top:-600px;
    }
    to
    {
        background-color:lightpink;
        opacity:1;
        top:0px;
    }
}
/* Add Animation */


/* The Close Button */
.close {
    color: black;
    float: right;
    padding-right:10%;
    z-index:111111;
    font-size: 80px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.close1 {
    color: black;
    float: right;
    padding-right:10%;
    z-index:111111;
    font-size: 80px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
